* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    color: red;
}


/* Login Page *******************************************/
.login_box {
    height: 100vh;
    display: grid;
    place-items: center;
    margin-inline: 25px 25px;
}

.login_form {
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 33px;
    border: 1px solid #000;
    border-radius: 30px;
}

.login_heading {
    font-size: 32px;
    text-align: center;
    font-family: 'Bungee';
}

/* for login page inputs */

.login_form>p {
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.login_form label {
    /* font-size: ; */
    font-family: 'Bungee';
}

.login_username {
    width: 335px;
    height: 40px;
    border-radius: 4px;
    background-color: #e2e2e2;
    font-size: 20px;
    padding: 0px 10px;
}

.login_password {
    width: 335px;
    height: 40px;
    border-radius: 4px;
    background-color: #e2e2e2;
    font-size: 20px;
    padding: 0px 10px;
}

.login_username:focus {
    color: #fff;
    background-color: #17E96B;
}

.login_password:focus {
    color: #fff;
    background-color: #17E96B;

}

.login_submit {
    font-size: 18px;
    color: #FFF;
    background-color: #17E96B;
    font-family: 'Bungee';
    width: 175px;
    /* height: 32px; */
    text-align: center;
    border-radius: 10px;
}

.login_submit:hover {
    cursor: pointer;
    transform: scale(1.04);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.4);
}

.login_icon_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 85%;
    height: 100px;
    min-height: 100px;
    /* background-color: #000; */
}

.icon_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17E96B;
    min-height: 24px;
    min-width: 24px;
    padding: 10px;
    border-radius: 10px;
}