<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login Page</title>

</head>

<body>
    <h1>login page for Accounts app</h1>

    <a href="{% url 'accounts:login' %}">appname link</a>

    <div class="login_box">
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input id="login_submit" type="submit">
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script>

        // const login_btn = document.getElementById("login_submit")

        // login_btn.onclick = (e) =>{
        //     e.preventDefault()
        //     console.log("prevented default")
        //}

        //*** Scrap xhr for django instead use jquery 
    </script>
</body>

</html>